[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

key_buffer_size         = {{ salt['pillar.get']('mysql:tunables:key_buffer_size', '512M') }}
sort_buffer_size        = {{ salt['pillar.get']('mysql:tunables:sort_buffer_size', '8M') }}

tmp_table_size          = {{ salt['pillar.get']('mysql:tunables:tmp_table_size', '16M') }}
max_heap_table_size     = {{ salt['pillar.get']('mysql:tunables:max_heap_table_size', '16M') }}

query_cache_type        = {{ salt['pillar.get']('mysql:tunables:query_cache_type', '0') }}
query_cache_size        = {{ salt['pillar.get']('mysql:tunables:query_cache_size', '8M') }}
query_cache_limit       = {{ salt['pillar.get']('mysql:tunables:query_cache_limit', '1M') }}

log_warnings            = {{ salt['pillar.get']('mysql:tunables:log_warnings', '1') }}

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid