{% set mariadb = salt['grains.filter_by']({
    'RedHat': {
        'galera_server':    'MariaDB-Galera-server',
        'client':           'MariaDB-client',
        'galera':           'galera',
        'service':          'mysql',
    },
}, merge=salt['pillar.get']('mariadb:lookup')) %}